
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*

header {
    overflow: hidden;
    padding-right: .5em;
    width: 100%;
    position: absolute;
    border-top: 20px;
}

header #monthSelector {
    left: 50%;
    right: -50%;
}

table {
    overflow: hidden;
    border-top: 30px;
    width: 100%;
}

table thead {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px;
}
*/