* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

.qtip {
    max-width: 400px;
    position: absolute;
    z-index: 1000;
}

#qtip-growl-container{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
#qtip-growl-container .qtip{
    position: static;
    min-height: 0;
    overflow: hidden;
    margin: 0 0 5px 0;
}