<!DOCTYPE html>
<html lang="en-150">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>WebCal</title>

    <script type="text/javascript" src="../libs/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../libs/node_modules/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="../libs/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../libs/node_modules/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../libs/node_modules/fullcalendar/dist/fullcalendar.js"></script>
    <script type="text/javascript" src="../libs/node_modules/qtip2/dist/jquery.qtip.js"></script>
    <script src="../libs/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script type="text/javascript" src="../libs/node_modules/timepicker/jquery.timepicker.js"></script>
    <script type="text/javascript" src="../libs/node_modules/multiple-select/multiple-select.js"></script>

    <link rel="stylesheet" href="../libs/node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="../libs/node_modules/fullcalendar/dist/fullcalendar.css" />
    <link rel="stylesheet" href="../libs/node_modules/qtip2/dist/jquery.qtip.css" />
    <link rel="stylesheet" href="../libs/jquery-ui-1.11.4.custom/jquery-ui.css">
    <link rel="stylesheet" href="../libs/node_modules/timepicker/jquery.timepicker.css">
    <link href="../libs/node_modules/multiple-select/multiple-select.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../style/index.css" />
    <!-- <link rel="stylesheet" href="../style/eventForm.css" /> -->

</head>


<body>
    <!-- HTML -->

    <div id='calendar'></div>

    <template id="eventForm-template">
        <div class="event-div">
            <form class="event-form" id="event-form">
                <input class="title" type="text" placeholder="Title">
                <br>
                <div>
                    <label>AllDay
                        <input class="allday" type="checkbox" name="allday"> </label>
                    <select class="status">
                        <option selected disabled hidden>Status</option>
                        <option value="Free">Free</option>
                        <option value="Busy">Busy</option>
                        <option value="Tentative">Tentative</option>
                    </select>
                    <select class="categories" multiple="multiple">
                        <!--<option value="" selected disabled hidden>Select categories...</option> -->
                    </select>
                </div>
                <br>
                <div class="date-wrapper">
                    <div class="date-div">
                        <input type="text" class="start-date"><label>to</label><input type="text" class="end-date">
                    </div>
                    <div class="time-div">
                        <input type="text" class="start-time"><input type="text" class="end-time">
                    </div>
                </div>
                <br>
                <textarea class="location" placeholder="Location" rows="1" col="50" onkeyup="auto_grow(this)"></textarea>
                <br>
                <input type="text" class="organizer" placeholder="Organizer">
                <br>
                <input type="text" class="webpage" placeholder="Webpage">
                <br>
                <input type="text" class="imageurl" placeholder="ImageURL">
                <input type="image" class="delete" src="../images/ic_delete_black_24dp_2x.png" alt="Delete Event" onclick="deleteEvent(); return false;" />
            </form>
        </div>
    </template>

    <script id="settings-template" type="text/template">
        <div id="settings">
            <button type="button" id="categories-button" onclick="toggleCatSettings()">Edit Categories</button>
        </div>
    </script>

    <script id="catSettings-template" type="text/template">
        <div id="catSettings">
            <table id="catTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th colspan="50%">Color</th>
                    </tr>
                    <tr id="loadingCatsRow"><td colspan="100%"><img id="loadingCatsGif" src="../images/loading.gif"></td></tr>
                </thead>

                <tbody id="catTableBody"></tbody>

                <tfoot>
                    <tr class="addCatRow">
                        <td colspan="100%"><button type="button" id="addCatRowButton" onclick="createNewCategoryRow()">Add Row</button></td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </script>

    <!-- JS -->

    <script type="text/javascript" src="../javascripts/controller.js"></script>
    <script type="text/javascript" src="../javascripts/calendar.js"></script>
    <script type="text/javascript" src="../javascripts/categories.js"></script>
    <script type="text/javascript" src="../javascripts/qtip.js"></script>

</body>

</html>